html {
    font-size: 62.5%;
  }
  
  .container-home {
    /* box-sizing: border-box; */
    font-size: 1.6rem;
    font-family: sans-serif;
  }
  
  
  .container::before,
  .container::after {
    margin: 5px;
    padding: 0;
    box-sizing: inherit;
  }
  
  .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 6rem;
    padding: 6rem;
  }
  
  .feature {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: max-content 1fr;
    align-items: center;
    background: #ffebcc;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  .feature__icon {
    height: 3.5rem;
    width: 3.5rem;
    color: #995c5c;
  }
  .feature__title {
    font-size: 2rem;
    color: #995c5c;
  }
  .feature__text {
    grid-column: -2/-1;
  }
  
  .heading {
    text-align: center;
    color: #331f1f;
  }
  
  .container-home {
    min-height: 100vh;
    padding-top: 5rem;
    margin-top: 10px;
    background: #fff3e0;
  }